* {
	font-family: "Ubuntu", sans-serif;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-rendering: optimizeSpeed;
}

html {
	scroll-behavior: smooth;
}

img,
iframe,
picture {
	width: 100%;
	display: block;
}
.hero {
	background: url("images/LawMain2.png") no-repeat
		center/cover;
}
.blue-shadow-main {
	width: 100%;
	height: 0.35rem;
	background-color: #4992ff;
}
.blue-shadow {
	width: 25%;
	height: 0.35rem;
	background-color: #4992ff;
}
.video-hero {
	background: url("images/cityBackground.jpg") no-repeat
		center/cover;
}
